.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.app-body {
  padding: 10px;
}

.filter {
  padding: 5px 10px;
  display: flex;
  align-items: right;
  margin: 10px 40px 20px 40px;
}

.filter label {
  padding: 0px 5px;
  font-size: large;
  font-weight: bold;
}

.item-text {
  font-weight: 300;
}

.book-item {
  margin-bottom: 20px;
  font-weight: bold;
}

div.book-item img {
  height: 280px !important;
}


div.book-detail img {
  margin: 20px auto;
  height: 380px !important;
  width: 90%;
}

.pagination {
  margin: 0 auto;
}

.bg-light {
  padding: 5px;
  font-size: medium;
  font-weight: 300;
  margin: 2px;
  background-color: aliceblue !important;
}

/* bg-light badge text-dark bg-primary */

.bg-light:hover {
  background-color: skyblue !important;
}

.bg-info {
  padding: 5px;
  font-size: medium;
  font-weight: 300;
  margin: 2px;
  background-color: #0dcaf0;
}

.author {
  float: left;
}